
.leftView{
   width: 16vh;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   align-items: baseline;
   background-color: rgb(197, 190, 190);
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.centerView{
     width: 58vh;
    background-color: #ffffff;
}

.rightView{
    width: 6vh;   
    background-color: orange;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    
     .centerView{
          width: 27vh;
         background-color: #ffffff;
     }
     .leftView{
        width: 12vh;
        padding-left: 2vh;
       
     }
    
}
.text-input {
    width: 96%;
    padding-top: 4px;
    height: 35px;
    font-size: 16px;
    outline: none;
    border: none;
  }
