.menuCardMainContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content:space-between;
    align-items: center;
    padding-left: 20px;
   padding-top: 6px;
   padding-bottom: 6px;
}
.menuCardMainContainer:hover{
    background-color: #f2f2f2;
}
.cardFontStyle{
    font-size: 15px;
    font-weight:500;
    color: #282c34;
    padding-left: 12px;
  
}
@media(max-width:648px){
    .menuCardMainContainer{
        width: 320px;
        padding-left: 2px;
    }
}