.amazon-card-main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
   width: 46vh;
   height: 82vh;   
   margin-left: 6vh;
   background-color: white; 
   margin-bottom: 26px;
   flex:1;
  margin-top: 4px;
}
.amazon-card-image-section{
    display: flex;
    width: 100%;
    justify-content: center;
    flex:.4;
    background-color:#eef2fa; 
    padding-top: 4vh;  
    padding-bottom: 4vh; 
}
.amazon-card-text-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:.6;
    padding-left: 12px;

}
.amazon-card-product-description{
    padding-right:2vh;
    text-align:left;
    font-size:16px;
    word-spacing:2px;
    margin-bottom:2px;
    margin-top: 6px;
}
.amazon-card-product-count{
    text-align: left;
    font-size: 12px;
    color: gray;
    font-weight: 500;
}