.addressMainContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 50px;
}
.addressMainContainer:hover{
  outline: 1px solid white;
}
.leftContainer {
  display: flex;
  flex: 0.2;
  height: 50px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
}
.rightContainer {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  flex-direction: column;
  height: 50px;
}
.addressUpperSection {
  display: flex;
  justify-content: center;
  height: 20px;
  flex-direction: row;
  align-content: end;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 8px;
}
.addressLowerSection {
  display: flex;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: end;
}
.pinCodeContent {
  font-size: 14px;
  margin-bottom: 26px;
  font-weight: bolder;
  color: white;
  flex: 0.4;
}
.addressContent {
  font-size: 14px;
  margin-bottom: 26px;
  font-weight: bolder;
  color: white;
  align-self: center;
}
.userNameContent{
  display: flex;
 font-size: 10px;
 color: slategrey;
 font-weight: 800;
 margin-bottom: 26px;

}

