.menuHeaderContainer{
    display: flex;
    width: 390px;
    height: 56px;
    flex-direction: row;
    align-items: center;
    background-color:#28342c ;
}
.menuTitle{
    font-size: 20px;
    font-weight:bolder;
    color: white;
    margin-left: 12px;
}
@media(max-width:648px){
    .menuHeaderContainer{
        width: 320px;
        padding-left: 2px;
    }
    .menuTitle{
        font-size: 20px;
        font-weight:bolder;
        color: white;
        margin-left: 8px;
    }
}