.App {
  max-width: 100%;
  text-align: center;
  overflow-y: auto;
  background-color: white;
  margin-left: 0;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Overlay background when sidebar is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 999; /* Behind the sidebar */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar {
  display: flex;
  justify-content: start;
  flex-direction: row;

  padding: 1rem;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -390px; /* Initially hidden off-screen */
  width: 390px;
  height: 100%;
  background-color: #ffffff;
  color: white;
  transition: left 0.3s ease;
  padding-top: 0px;
  z-index: 1000; /* Ensure the sidebar is on top */
}

.content {
  overflow-y: auto;
}

.sidebarNested {
  position: fixed;
  top: 30;
  width: 380px;
  background-color: #ffffff;
  padding-top: 0px;
  z-index: 1000; /* Ensure the sidebar is on top */
  height: 100vh; /* Full height of the viewport */
  position: fixed;
  overflow-y: scroll;
}

.sidebar.open {
  left: 0; /* When open, move the sidebar into view */
}

.sidebar-header {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  background-color: white;
}

.sidebar-menu li {
  font-size: 18px;
  cursor: pointer;
}
/* 
.sidebar-menu li:hover {
  background-color: #37475a;
} */

.submenu-list li {
  padding: 8px;
  cursor: pointer;
}

.submenu-list li:hover {
  background-color: #455a64;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Sidebar toggle button */
.sidebar-toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #232f3e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  z-index: 0; /* Ensure the button is on top */
}

.sidebar-toggle-btn:hover {
  background-color: #37475a;
}

/* Main content area */
.content {
  height: 100vh;
  transition: margin-left 0.3s ease; /* Smooth transition for content when sidebar opens/closes */
}

.sidebar.open + .content {
  margin-left: 0; /* When the sidebar is open, shift content to the right */
}

/* For mobile responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 160px;
  }
  
  .sidebarNested {
    position: fixed;
    top: 30;
    width: 150px;
    background-color: #ffffff;
    padding-top: 0px;
    z-index: 1000; /* Ensure the sidebar is on top */
    height: 100vh; /* Full height of the viewport */
    position: fixed;
    overflow-y: scroll;
  }

  .sidebar-toggle-btn {
    left: 10px;
    top: 10px;
  }
}

.hamBurgerContainer2 {
  height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #37475a;
}
.hamBurgerButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1px;
  margin-left: 1px;
  padding: 1vh;
}
.hamBurgerButton:hover {
  outline: 1px solid white;
}
