.mainCustomContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154vh;
    background-color:#f2f2f2;
    height: 30vh;
    margin-left: 5vh;
    padding-left: 12px;
    padding-right: 24px;
    margin-top: 14px;
}
.innerMainContainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-self: center;
    width: 150vh;
    background-color: white;
    height: 28vh;
}
.leftArrowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 4vh;
  height: 8vh;
  align-self: center;
}
.leftButtonDiv{
    display: flex;
    align-self:center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 4vh;
    height: 8vh;
    background-color: white;
}
.carousel-button-new{
    width: 6vh;
    height: 10vh;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.middleContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    width: 80%;

}
.middleAboveContainer{
    display: flex;
    flex:.05;
 
}
.middleBottomContainer{
   
    display: flex;
    flex:.95;


}
.ul-list-container{
    list-style-type: none;
    overflow-x: auto; 
    align-self: center;
    display: flex;
   
}
.fontHeader{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    margin-left: 12px;
    background-color: white;
}
.imageContainer{
    width:21vh; 
    height:21vh; 
   
    display:flex;
    justify-content:center;
    align-content:center;
    align-self:center;
}
.image-dimension{
    width: 18vh;
    height: 18vh;
    align-self: center;
}

@media(max-width: 768px){
    .mainCustomContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48vh;
        margin-right: 12px;
        background-color:#f2f2f2;
        height: 28vh;
        margin-left: 5vh;
        padding-left: 6px;
        padding-right: 4px;
        margin-right: 90px;
        margin-top: 7px;
    }
    .innerMainContainer{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-self: center;
        width: 46vh;
        background-color: white;
        height: 18vh;
    }
    .imageContainer{
        width:15vh; 
        height:15vh; 
        display:flex;
        justify-content:center;
        align-content:center;
        align-self:center;
    }
    .image-dimension{
        width: 14vh;
        height: 14vh;
        align-self: center;
    }
}

