.mainContainer {
  height: 8.5vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap; /* Prevents wrapping of content */
  overflow-x: auto;    /* Enables horizontal scroll */
  overflow-y: hidden; 
  background-color: #131A22;
}

/* Mobile view - allow horizontal scroll */
@media (max-width: 768px) {
  .mainContainer{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

}

.amazonIconContainer {
  display: flex;
  background-color: #131A22;
  justify-content: center;
  align-items: center;
  height: 7vh;
  padding: 1px;
  margin-left:2px;
  margin-right: 2px;
}
.addressContainer {
  display: flex;
  height: 7vh;
  width: 26vh;
  background-color:#131A22;
  padding: 1px;

}
/* .addressContainer:hover{
  outline: 1px solid white;
} */
.searchContainer {
  width: 80vh;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#131A22;
}
.countryContainer {
  display: flex;
  justify-content: center;
  width: 16vh;
  height: 7vh;
  margin-right: 2px;
  background-color: #131A22;
  align-items: center;
}
.countryContainer:hover{
  outline: 1px solid white;
}
.accountContainer {
  display: flex;
  width: 28vh;
  height: 7vh;
  background-color:#131A22;
  margin-right: 2px;
}
.orderContainer {
  width: 18vh;
  margin-left: 2px;
  height: 7vh;
  background-color:#131A22;
  margin-right: 6px;
}
.cartContainer {
  display: flex;
  width: 20vh;
  height: 7vh;
  margin-right: 6px;
  background-color: #131A22;
}
