.mainContainer {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #282c34;
}
.amazonIconContainer {
  display: flex;
  flex: 0.1;
  background-color: #131A22;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.addressContainer {
  display: flex;
  flex: 0.15;
  overflow: hidden; 
  height: 50px;
  background-color:#131A22;
  padding-left: 1px;
  padding-right: 1px;
}
/* .addressContainer:hover{
  outline: 1px solid white;
} */
.searchContainer {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
  background-color:#131A22;
}
.countryContainer {
  display: flex;
  flex: 0.05;
  justify-content: center;
  padding: 4px;
  overflow: hidden;
  margin-top: 2px;
  margin-right: 2px;
  background-color: #131A22;
  align-items: center;
}
.countryContainer:hover{
  outline: 1px solid white;
}
.accountContainer {
  display: flex;
  flex: 0.125;
  background-color:#131A22;
  padding: 2px;
}
.orderContainer {
  padding: 2px;
  flex: 0.025;
  background-color:#131A22;
}
.cartContainer {
  display: flex;
  flex: 0.05;
  padding: 2px;
  background-color: #131A22;
}
