.square-crausel-mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154vh;
    background-color:white;
    height: 38vh;
    margin-top: 14px;
    margin-left: 5vh;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 4vh;
}

.innerMainContainer1{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-self: center;
    width: 150vh;
    background-color: white;
    height: 36vh;
    padding: 0;
}
.leftArrowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  width: 4vh;
  height: 8vh;
  align-self: center;
}
.leftButtonDiv{
    display: flex;
    align-self:center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    width: 4vh;
    height: 8vh;
    background-color: white;
}
.carousel-button-new{
    width: 6vh;
    height: 10vh;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}
.middleContainer{
    flex:1;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;

  overflow-x: auto;    /* Enables horizontal scrolling */

}

.ul-list-container{
    list-style-type: none;
    overflow-x: auto; 
    align-self: center;
    display: flex;
   
}
.fontHeader{
    font-size: 16px;
    font-weight: bolder;
    color: black;
    margin-left: 12px;
}
/* .imageContainer{
    width:21vh; 
    height:21vh; 
    background-color:red;
    display:flex;
    justify-content:center;
    align-content:center;
    align-self:center;
} */

.ul-list-container1{
    width: 100%;
    list-style-type: none;
    overflow-x: auto; 
    align-self: center;
    display: flex;
    overflow-y: hidden;
   
}

@media(max-width: 768px){
    /* .square-crausel-mainContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vh;
        background-color:white;
        height: 19vh;
        margin-top: 16px;
        margin-left: 5vh;
        padding-left: 6px;
        padding-right: 12px;
        margin-bottom: 4vh;
    } */

    .square-crausel-mainContainer{
      
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vh;
        background-color:white;
        height: 28vh;
        margin-top: 6px;
        margin-left: 4vh;
        padding-left: 10px;
        padding-right: 4px;
        margin-bottom: 4vh;
    }
    .innerMainContainer1{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-self: center;
        width: 58vh;
        background-color: white;
        height: 26vh;
        padding-right: 20px;
    }
    .leftArrowContainer{
        display: flex;
        justify-content: center;
        align-items: center;
      width: 3vh;
      height: 6vh;
      align-self: center;
    }
    .leftButtonDiv{
        display: flex;
        align-self:center;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
        width: 2vh;
        height: 4vh;
        background-color: white;
    }
    .carousel-button-new{
        width: 3vh;
        height: 6vh;
        color: white;
        font-size: 12px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
}
